/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



.main_wrapper{
     
      width:920px;
	  height:auto;
	  margin:auto;
	  background-image:url(../images/bg2.jpg);
	   }
	   
.header_wrapper{
  
      width:920px;
	  height:100px;
	  background:#FFFFFF;
	  background-image:url(../images/header1.jpg);
	  
	  }	  


#navbar{

 width:920px;
 height:auto;
 background:#FFCC66;
 
 text-align:left;
 float:left;
 }
            
.content_wrapper{
  width:920px;
  height:auto; 
  background-color:#FFFFFF;
  
 } 

   
 #left_sidebar{
  width:200px;
  height:500px;
  float:left;
  background:#000000;
  }

  #content-right{
 background:#FFFFFF;
	width:720px;
   height:auto;
    float:right;
	
	}
 
  
  
	
.footer{

   width:920px;
   height:130px;
   background-image:url(../images/footer2.gif);
   color:#000000;
   clear:both;
   }
   
   #sidebar_title{
   background:#000000;
   color:#fff;
   padding:10px;
   font-size:22px;
   font-family:Verdana, Arial, Helvetica, sans-serif;
   }
    #cats{
	text-align:center;
	padding:10px;
               
             }
    
     #cats li {list-style:none; margin:8px;}
	 #cats a{ color:#FFFFFF; font-size:16px;margin:5px;}
	
	
 #product_box{
 background:#FFFFFF;
	height:auto;
	width:720px;
	padding:10px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	} 
	
	#single_product{
	margin-left:200px; 
	 width:720px; height:auto; 
	  padding:10px;  
	  background-color:#FFFFFF;
	 border:1px solid black;
	 
	}
.row-fluid {
   
 margin-top:50px;

    border: 2px solid #a1a1a1;
    padding: 6px 40px; 
    background:#FF9933;
    width:700px;
    border-radius: 25px;
}

