/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



.main_wrapper{
     
      width:920px;
	  height:auto;
	  margin:auto;
	   }
	   
.header_wrapper{
     
      width:920px;
	  height:100px;
	  background:#FFFFFF;
	  background-image:url(../images/header1.jpg);
	  
	  }	  

.content_wrapper{
 border: 2px solid #a1a1a1;
  padding: 6px 40px; 
 border-radius: 25px;
margin-top:100px;
margin-left:200px;
height:auto; 
width:600px;

 text-align:center;"

}

  
	
.footer{

   width:920px;
   height:130px;
   background-image:url(../images/footer2.gif);
   color:#000000;
   clear:both;
   }
   
 
.row-fluid {
   
 margin-top:45px;

   
    background:#FF9933;
    width:700px;
   
}